@import url('https://fonts.googleapis.com/css?family=Yellowtail');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');
body, html {
  margin: 0px;
  padding: 0px;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}

.sec1 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("images/landingIMG-min.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.sec2 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/collage-min.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.sec3 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("images/tables-min.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

/**************************sec1*****************************/

.mainDiv {
  position: relative;
  top: 50%;
  width: 100%;
  display: block;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.mainDiv h1 {
  margin: 0;
  font-family: 'Yellowtail', cursive;
  font-size: 12vh;
  color: #C60000;
  text-align: center;
  cursor: default;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  -webkit-text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  -moz-text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  -ms-text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  -o-text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.mainDiv h2 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 4vh;
  font-weight: 700;
  color: #fff;
  text-align: center;
  cursor: default;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  -ms-text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  -o-text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.buttonWrap {
  margin-top: 7vh;
  text-align: center;
  width: 100%;
}

.buttonWrap span {
  font-family: 'Roboto', sans-serif;
  font-size: 4vh;
  font-weight: 100;
  color: #fff;
  margin: .5vh;
}

.buttonWrap a {
  display: inline-block;
  border: 3px solid #C60000;
  width: 35vh;
  margin: .5vh;
  background: rgba(0, 0, 0, 0.3);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

.buttonWrap a:hover {
  cursor: pointer;
  border-bottom: 3px solid #fff;
}

.buttonWrap a:active {
  border-bottom: 3px solid #C60000;
}

.contactSlider {
  position: relative;
  left: 50%;
  width: calc(((35vh * 3) + 2vh) + 25px);
  background-color: #fff;
  opacity: 0;
  text-align: center;
  pointer-events: none;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  -o-pointer-events: none;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.contactSlider a {
  margin: 1%;
  display: inline-block;
}

.contactSlider a:hover {
  cursor: pointer;
}

.contactSlider .indent {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vh;
  vertical-align: middle;
  margin-left: 15px;
}

.openHours {
  color: #32CD32;
  font-weight: 700;
}

.closedHours {
  color: #C60000;
  font-weight: 700;
}

.indentHours {
  margin-left: 20px;
  font-weight: 700;
}

.contactIcon {
  position: relative;
  color: #C60000;
  vertical-align: middle;
}

/***************************section 2*****************************/

.sec2 h1 {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 10vh;
  font-weight: 700;
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 0;
  color: #fff;
  opacity: 0;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  -ms-text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  -o-text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  -webkit-text-decoration: underline;
  -moz-text-decoration: underline;
  -ms-text-decoration: underline;
  -o-text-decoration: underline;
  text-decoration-color: #C60000;
  -webkit-text-decoration-color: #C60000;
  -moz-text-decoration-color: #C60000;
  -ms-text-decoration-color: #C60000;
  -o-text-decoration-color: #C60000;
}

.blerb {
  position: relative;
  margin-left: 10%;
  width: 60%;
}

.blerb h2 {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 3.5vh;
}

.blerbSpan1 {
  font-size: 4.5vh;
  font-weight: 700;
}

.blerbSpan2 {
  font-family: 'Yellowtail', cursive;
  color: #C60000;
  font-size: 5vh;
  font-weight: 400;
  text-shadow: -.5px 0 white, 0 .5px white, .5px 0 white, 0 -.5px white;
  -webkit-text-shadow: -.5px 0 white, 0 .5px white, .5px 0 white, 0 -.5px white;
  -moz-text-shadow: -.5px 0 white, 0 .5px white, .5px 0 white, 0 -.5px white;
  -ms-text-shadow: -.5px 0 white, 0 .5px white, .5px 0 white, 0 -.5px white;
  -o-text-shadow: -.5px 0 white, 0 .5px white, .5px 0 white, 0 -.5px white;
}

/************************Section 3****************************/

.sec3 .column {
  position: relative;
  height: 100%;
  width: calc(100% / 3);
  display: inline-block;
  float: left;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background .3s;
  -webkit-transition: background .3s;
  -moz-transition: background .3s;
  -ms-transition: background .3s;
  -o-transition: background .3s;
}

.sec3 .column:hover {
  background: rgba(0, 0, 0, 0);
}

.sec3 .column:hover h2 {
  text-decoration: underline;
  -webkit-text-decoration: underline;
  -moz-text-decoration: underline;
  -ms-text-decoration: underline;
  -o-text-decoration: underline;
  text-decoration-color: #C60000;
  -webkit-text-decoration-color: #C60000;
  -moz-text-decoration-color: #C60000;
  -ms-text-decoration-color: #C60000;
  -o-text-decoration-color: #C60000;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  -ms-text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  -o-text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

.sec3 h2 {
  position: relative;
  top: 50%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 8vh;
  font-weight: 700;
  color: #fff;
  text-align: center;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

/*phone only*/

@media only screen and (max-width: 599px) {
  .mainDiv h1 {
    font-size: 14vw;
  }
  .mainDiv h2 {
    font-size: 5vw;
  }
  .sec2 {
    background-image: none;
    background-color: #F7F7F7;
  }
  .sec3 {
    background-image: none;
    background: linear-gradient(to top, #C60000, #D54545);
  }
  .contactSlider {
    width: calc(35vh + 6px);
    text-align: left;
  }
  .sec3 .column {
    width: 100%;
    height: calc(100% / 3);
    background: rgba(0, 0, 0, 0);
  }
  #midColumn {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
  .sec3 h2 {
    text-decoration: underline;
    -webkit-text-decoration: underline;
    -moz-text-decoration: underline;
    -ms-text-decoration: underline;
    -o-text-decoration: underline;
    text-decoration-color: #fff;
    -webkit-text-decoration-color: #fff;
    -moz-text-decoration-color: #fff;
    -ms-text-decoration-color: #fff;
    -o-text-decoration-color: #fff;
  }
  .sec2 h1 {
    margin-left: 0;
    margin-top: 20%;
    text-align: center;
    color: #000;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0);
    -webkit-text-shadow: 0px 2px 3px rgba(0, 0, 0, 0);
    -moz-text-shadow: 0px 2px 3px rgba(0, 0, 0, 0);
    -ms-text-shadow: 0px 2px 3px rgba(0, 0, 0, 0);
    -o-text-shadow: 0px 2px 3px rgba(0, 0, 0, 0);
  }
  .blerb {
    margin: auto;
    width: 90%;
    top: -5%;
  }
  .blerb h2 {
    font-size: 5vw;
    color: #000;
    font-weight: 100;
    text-align: center;
  }
  .blerbSpan1 {
    font-size: 8vw;
  }
  .blerbSpan2 {
    font-size: 9vw;
  }
}

/*tablet portrait and up*/

@media only screen and (min-width: 600px) {
  .contactSlider {
    width: calc(((35vh * 2) + 1vh) + 19px);
  }
  .sec3 .column {
    width: 100%;
    height: calc(100% / 3);
  }
  .sec2 h1 {
    margin-left: 0;
    margin-top: 20%;
    text-align: center;
  }
}

/*tablet landscape and up*/

@media only screen and (min-width: 900px) {
  .contactSlider {
    width: calc(((35vh * 2) + 1vh) + 19px);
  }
  .sec3 .column {
    height: 100%;
    width: calc(100% / 3);
  }
  .sec2 h1 {
    margin-left: 10%;
    margin-top: 10%;
    text-align: initial;
  }
}

/*desktop and up*/

@media only screen and (min-width: 1200px) {
  .contactSlider {
    width: calc(((35vh * 3) + 2vh) + 25px);
  }
}

/*big desktop and up*/

@media only screen and (min-width: 1800px) {
  .contactSlider {
    width: calc(((35vh * 3) + 2vh) + 25px);
  }
}
